Engine_logs/**
Client_logs/**
Error_files/**
models/data/**
models/model_weights/**
models/model_results.txt
model_research/plots/**
model_research/reports/**
model_research/results/**
Debugging/**
Engines/**
**/train_PGNs/**
__pycache__/
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
venv/
**/venv/
**/visualisations/**
**/visualisations_piece_to/**
**/data/**
.vscode/**
**/vscode/**
**/saved_screenshots/**

# roo and cursor rules
.cursor/
.roo/

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md